

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Transaksi
        <small>Percobaan</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        
          <!-- general form elements -->
          <!-- /.box -->

          <!-- Form Element sizes -->
          <!-- /.box -->
          <!-- /.box -->

          <!-- Input addon -->
          <!-- /.box -->

        
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Form transaksi</h3> <span class="pull-right">000000025</span> <!-- disini nomor nota -->
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Nama Barang</label>
                  <div class="col-sm-3">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="nama barangnya">
                  </div>                  <label for="inputEmail3" class="col-sm-3 control-label">Total</label>
                   <div class="col-sm-3">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="masukkan total">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">Satuan</label>
                  <div class="col-sm-3">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Satuan">
                  </div>
                    <label for="inputEmail3" class="col-sm-3 control-label">Bayar</label>
                   <div class="col-sm-3">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="berapa yang dibayar">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">Harga</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" id="inputPassword3" placeholder="Harga Barang">
                  </div>
                  <div class="col-sm-1 checkbox">
                      <label>
                        <input type="checkbox" > Edit
                      </label>
                    </div>
                    <label for="inputEmail3" class="col-sm-2 control-label">Kembalinya</label>
                   <div class="col-sm-3">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Kembali uangnya">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">Quantity</label>
                  <div class="col-sm-3">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Banyak Barang">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">Sub Total</label>
                  <div class="col-sm-3">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Sub Total">
                  </div>
                </div>
                <div class="form-group" >
                <div class="col-sm-5">
                <button type="submit" class="btn btn-info pull-right">Tambah</button>
                </div>
                <div class="col-sm-6">
                <button type="submit" class="btn btn-danger pull-right">Purchase</button>
                </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <!-- <button type="submit" class="btn btn-default">Cancel</button> -->
                <!-- <button type="submit" class="btn btn-info pull-right">Sign in</button> -->
              </div>
              <div class="box">
            <div class="box-header">
              <h3 class="box-title">Data Belanjaan</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                  <th>No</th>
                  <th>Nama Barang</th>
                  <th>Satuan</th>
                  <th>Harga Barang</th>
                  <th>Quantity</th>
                  <th>Sub Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td >
                  <td>Trident</td>
                  <td>Buah</td>
                  <td>Internet
                    Explorer 4.0
                  </td>
                  <td>Win 95+</td>
                  <td> 4 <a type="button" class="pull-right badge bg-red" role="button" href="#">Hapus<a type="button" class="pull-right badge bg-blue" role="button" href="../../pages/forms/editbaruuntukkasir.html">Edit</a></td>
                </tr>
                <tr>
                  <td>1</td >
                  <td>Trident</td>
                  <td>Lusin</td>
                  <td>Internet
                    Explorer 4.0
                  </td>
                  <td>Win 95+</td>
                  <td> 4 <a type="button" class="pull-right badge bg-red" role="button" href="#">Hapus<a type="button" class="pull-right badge bg-blue" role="button" href="../../pages/forms/editbaruuntukkasir.html">Edit</a></td>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
          <!-- general form elements disabled -->
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->